{% extends "base.html" %}

{% block title %}
    <title>Task Manager</title>
{% endblock title %}

{% block main %}
    <div class="container mt-5">
        <h2 class="text-center">Welcome to TaskManager🚀</h2>
        <div class="mt-4 p-5 bg-primary text-center text-white rounded">
            <h1>Explore taskManager's awesome team</h1> 
        <p>TaskManager is a multi author task management web application, where users can add task, delete task and mark a task as completed.</p>
            <div class="mt-5">
                <button class="btn btn-dark">Sign In</button>
                <button class="btn btn-outline text-white border-light">Sign up</button>
            </div>
        </div>
    </div>
{% endblock main %}