{% extends "base.html" %}
{% block title %}
    <title>Signup | Task Manager</title>
{% endblock title %}
{% load static %}
{% block main %}

  <div class="" style="height: 94vh">
      <!-- Sign up form -->
      <section class="signup d-flex justify-content-center align-items-center h-100" style="background-image: url('{% static "img/bg.png" %}'); background-size: cover; background-position: center;">
        <div class="container">
            <div class="row">
                <div class="col-md">
                  <div class="card p-5 shadow-lg border-0">
                    <h2 class="text-center mb-5">Register your account</h2>
                    <div class="signup-content d-flex justify-content-center align-items-center">
                        <div class="signup-form flex-grow-1">
                            <form method="POST" class="pe-5" id="register-form" enctype="multipart/form-data">
                              {% csrf_token %}
                                <div class="input-group mb-3">
                                    <div class="input-group-text">@</div>
                                    <input required name="username" type="text" class="form-control form-control-lg " id="autoSizingInputGroup" placeholder="Username">
                                  </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-text"><i class="bi bi-person"></i></div>
                                    <input name="first_name" type="text" class="form-control form-control-lg" id="autoSizingInputGroup" placeholder="First Name">
                                  </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-text"><i class="bi bi-person"></i></div>
                                    <input name="last_name" type="text" class="form-control form-control-lg" id="autoSizingInputGroup" placeholder="Last Name">
                                  </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-text"><i class="bi bi-envelope"></i></div>
                                    <input required name="email" type="email" class="form-control form-control-lg" id="autoSizingInputGroup" placeholder="example@email.com">
                                  </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-text"><i class="bi bi-key"></i></div>
                                    <input required name="password_one" type="password" class="form-control form-control-lg" id="autoSizingInputGroup" placeholder="password">
                                  </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-text"><i class="bi bi-key"></i></div>
                                    <input required name="password_two" type="password" class="form-control form-control-lg" id="autoSizingInputGroup" placeholder="repeat password">
                                  </div>
                                  <label for="profile" class="fs-5 mb-2 text-muted">Profile Image</label>
                                <div class="input-group mb-3">
                                  
                                    <input name="avatar" type="file" class="form-control form-control-lg" id="profile" placeholder="repeat password">
                                  </div>
                                  <button type="submit" class="btn btn-dark btn-lg me-2 mt-2">Register Account</button>
                                  <a href="{% url "login" %}" class="btn btn-link mt-2">I am already a member</a>
                            </form>
                        </div>
                        <div class="d-none d-lg-block">
                            <figure><img src="{% static "img/wave.png" %}" alt="sing up image"></figure>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
  </div>

{% endblock main %}